apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kube_ca_cert }}
    server: https://{{ kube_server }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: admin@kubernetes
current-context: admin@kubernetes
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate-data: {{ kube_admin_cert }}
    client-key-data: {{ kube_admin_key }}
