apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ ca_certificate_data }}"
    server: "{{ kube_server_url }}"
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: "{{ client_certificate_data }}"
    client-key-data: "{{ client_key_data }}"
